extends layout

block templates
    script#name-template(type='text/x-handlebars-template')
        li='{{name}}'

    script#message-template(type='text/x-handlebars-template')
        li='{{name}}: {{message}}'

    script#conversation-template(type='text/x-handlebars-template')
        li.conversation
            div
                span.subject='{{subject}}'
                div.conversation-controls
                    a.hide(href='#')='[hide]'
                    a.unhide(href='#')='[unhide]'
                    a.pin(href='#')='[pin]'
                    a.unpin(href='#')='[unpin]'
            div
                input.message(type='text', size='80')
                input.say(type='submit', value='Say')
                ul

block content
    div#container
        div#header Pee Drinkers Anonymous
        div#rename name:
            input#name(type='text')
        div#start-conversation-block subject:
            input#subject(type='text', size='80')
            input#start-conversation(type='submit', value='Start Conversation')
        div#instructions
            div#show-instructions
                a(href='#')='[how to do things]'
            div#instructions-body
                ol
                    li change your name to something
                    li [pin] a conversation to start chatting in it
                    li if you can't post, you probably want to try chrome
        ul#members online now:
            li people
            li dogs
            li trashcans
        div
            ul#pinned
            ul#preview
            ul#hidden
