extends layout

block templates
    script#channel-name-template(type='text/x-handlebars-template')
        | {{channel}}

    script#name-template(type='text/x-handlebars-template')
        li
            span.name='{{trip.name}}'
            {{#if trip.code}}
            span.trip='!{{trip.code}}'
            {{/if}}

    script#message-template(type='text/x-handlebars-template')
        li
            div.name-block
                span.name='{{trip.name}}'
                span.trip='!{{trip.code}}'
                span.timestamp='{{time}}'
            span.msg='{{message}}'

    script#conversation-template(type='text/x-handlebars-template')
        li.conversation
            div
                span.subject='{{subject}}'
                div.conversation-controls
                    a.hide(href='#')='[hide]'
                    a.unhide(href='#')='[unhide]'
                    a.pin(href='#')='[pin]'
                    a.unpin(href='#')='[unpin]'
            div
                input.message(type='text', size='80')
                input.say(type='submit', value='Say')
                ul

block content
    div#container
        div#header=title
        div#channel-name
        div#rename name:
            input#name(type='text')
        div#start-conversation-block subject:
            input#subject(type='text', size='80')
            input#start-conversation(type='submit', value='Start Conversation')
        div#instructions
            div#show-instructions
                a#show-instructions-button(href='#')='[how to do things]'
            div#instructions-body
                ol
                    li change your name to something
                    li use name#tripcode for authenticity
                    li [pin] a conversation to start chatting in it
                    li if you can't post, you probably want to try chrome
                    li
                        | arial 16pt is nice but have you considered installing
                        a(href='http://en.wikipedia.org/wiki/Mona_Font', target='_blank')='[mona font]'
                        | ?
        ul#members online now:
        div
            ul#pinned
            ul#preview
            ul#hidden
